{% embed 'components/DataTable/DataTable.html.twig' with {
    title: this.title,
    pager: this.getPager(),
    form: this.formView,
    showWorkItem: not workItemId
} %}
    {% block table %}
        {% set columnCount = showWorkItem ? 7 : 6 %}
        <table>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Description</th>
                {% if showWorkItem %}
                    <th scope="col">Work Item</th>
                {% endif %}
                {#                    <th scope="col">State</th>#}
                <th scope="col">Started At</th>
                <th scope="col">Duration</th>
                <th scope="col">Billable Duration</th>
                <th scope="col" title="Actions"></th>
            </tr>
            </thead>
            <tbody>
            {% for work_log in pager %}
                <tr>
                    <th scope="row" class="id"><a href="{{ path('app_work_log_show', {id: work_log.id}) }}">{{ work_log.id }}</a></th>
                    <td>{{ work_log.description }}</td>
                    {% if showWorkItem %}
                        <td>{{ work_log.workItem ? include('work_item/_chip.html.twig', {work_item: work_log.workItem }) }}</td>
                    {% endif %}
                    {#                        <td>{{ work_log.state.value }}</td>#}
                    <td class="nowrap">{{ work_log.startedAt ? work_log.startedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ work_log.durationInSeconds|seconds_to_human }}</td>
                    <td>{{ work_log.billableDurationInSeconds|seconds_to_human }}</td>
                    <td class="actions">
                        {{ include('_include/element_actions.html.twig', {
                            popoverId: "popover-#{work_log.id}",
                            viewUrl: path('app_work_log_show', {id: work_log.id}),
                            editUrl: path('app_work_log_edit', {id: work_log.id}),
                        }) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="{{ columnCount }}">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endembed %}
