<button class="ActionMenuTrigger" popovertarget="{{ popoverId }}">
    {{ source("_icons/ellipsis-vertical.svg") }}
</button>
<div class="Popover" popover id="{{ popoverId }}">
    <div class="Menu">
        <ul>
            <li><a href="{{ viewUrl }}">View</a></li>
            <li><a href="{{ editUrl }}">Edit</a></li>
        </ul>
    </div>
</div>
