<div {{ attributes }}>
    <div class="Panel"
         {{ stimulus_controller('data-table') }}
    >
        {% set _header %}
            {% if title ?? false %}
                <h2 class="Panel-heading">{{ title }}</h2>
            {% endif %}
            {% set form = false %}
            {% if form %}
            {{ form_start(form, {
                method: 'get',
                _attr: {
                    'class': 'data-table-filter',
                    'data-model': '*',
                    'data-action': 'input->live#action:prevent live#action:prevent',
                    'data-live-action-param': 'doSearch',
                    'data-namespace': namespace|default
                }
            }) }}
            <div class="form-body">
                {{ form_rest(form) }}
            </div>
            <div class="form-footer">
                <button type="submit" class="button">Search</button>
            </div>
            {{ form_end(form) }}
            {% endif %}
        {% endset %}

        {% if _header|trim %}
        <div class="Panel-header">
            {{ _header }}
        </div>
        {% endif %}

        <div class="Panel-body">
            {% block table %}{% endblock %}
        </div>
        {% if pager.nbResults %}
            <div class="Panel-footer">
                {{ pagerfanta(pager, options=this.paginationOptions) }}
            </div>
        {% endif %}
    </div>
</div>
