{% embed 'components/DataTable/DataTable.html.twig' with {
    pager: this.getPager(),
    form: this.formView
} %}
    {% block table %}
        <table>
            <thead>
            <tr>
                {% set columnCount = 4 %}
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col" title="Actions"></th>
            </tr>
            </thead>
            <tbody>
            {% for organisation in pager %}
                <tr>
                    <td class="id">{{ organisation.id }}</td>
                    <th scope="row">{{ include('organisation/_chip.html.twig', {organisation}) }}</th>
                    <td>{{ organisation.description }}</td>
                    <td class="actions">
                        {{ include('_include/element_actions.html.twig', {
                            popoverId: "popover-#{organisation.id}",
                            viewUrl: path('app_organisation_show', {'id': organisation.id}),
                            editUrl: path('app_organisation_edit', {'id': organisation.id}),
                        }) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="{{ columnCount }}">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endembed %}
