{% embed '_embed/show.html.twig' with {
    editUrl: path('app_project_edit', {'key': project.key}),
    deleteForm: include('project/_delete_form.html.twig'),
    breadcrumbList: {
        'Home': path('app_dashboard'),
        'Projects': path('app_project_index'),
    }
} %}
    {% block content %}
        <div class="panel">
            <table>
                <tbody>
                <tr>
                    <th scope="row">ID</th>
                    <td>{{ project.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Name</th>
                    <td>{{ project.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Key</th>
                    <td>{{ project.key }}</td>
                </tr>
                <tr>
                    <th scope="row">Import Key</th>
                    <td class="code">{{ project.importKey }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2>Work Items</h2>
        {{ component('DataTable:WorkItem', { projectId: project.id }) }}
    {% endblock %}
{% endembed %}
