{% embed '_embed/show.html.twig' with {
    editUrl: path('app_user_edit', {id: user.id}),
    deleteForm: include('user/_delete_form.html.twig'),
    breadcrumbList: {
        'Home': path('app_dashboard'),
        'Users': path('app_user_index'),
    }
} %}
    {% block content %}
<div class="panel">
    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Display Name</th>
            <td>{{ user.displayName }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ user.password }}</td>
        </tr>
        <tr>
            <th>CreatedAt</th>
            <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>UpdatedAt</th>
            <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>CreatedBy</th>
            <td>{{ user.createdBy }}</td>
        </tr>
        <tr>
            <th>UpdatedBy</th>
            <td>{{ user.updatedBy }}</td>
        </tr>
        </tbody>
    </table>
    {% endblock %}
{% endembed %}
